{{ if .Site.Params.widgets.blogkategorien }}
    {{ if isset .Site.Taxonomies "blogkategorien" }}
        {{ if not (eq (len .Site.Taxonomies.blogkategorien) 0) }}
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">blogkategorien</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    {{ range $name, $items := .Site.Taxonomies.blogkategorien }}
                    <li>
                        <a href="{{ "blogkategorien/" | relLangURL }}{{ $name | urlize | lower }}" title="Zeige blog in der Kategorie {{ $name | title }}">
                            {{ $name | title }} ({{ len $items }})
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ else }}
        <!-- Meldung, wenn keine Kategorien vorhanden sind -->
        <div class="panel panel-default sidebar-menu">
            <div class="panel-heading">
                <h3 class="panel-title">blogkategorien</h3>
            </div>
            <div class="panel-body">
                <p>Keine blogkategorien gefunden.</p>
            </div>
        </div>
        {{ end }}
    {{ end }}
{{ end }}
