<!-- layouts/kurse/kursesidebar.html -->
<div class="sidebar">
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Kursekategorien</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <!-- Filter löschen -->
                <li>
                    <a href="{{ "kurse/" | relLangURL }}">
                        Filter löschen
                    </a>
                </li>
                <!-- Kategorien anzeigen -->
                {{ if gt (len .Site.Taxonomies.kursekategorien) 0 }}
                    {{ range $name, $items := .Site.Taxonomies.kursekategorien }}
                    <li>
                        <a href="{{ "kursekategorien/" | relLangURL }}{{ $name | urlize | lower }}">
                            {{ $name | title }} ({{ len $items }})
                        </a>
                    </li>
                    {{ end }}
                {{ else }}
                    <li>Keine Kategorien verfügbar</li>
                {{ end }}
            </ul>
        </div>
    </div>

    <!-- Hier binden wir jetzt das neue Menu-Partial ein -->
    {{ template "kurse/kursesidebarmenu.html" . }}

</div>
