<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
</head>
<body>
    <div id="all">
        {{ partial "top.html" . }}
        {{ partial "nav.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-md-3" id="left-column">
                         {{ template "autoren/autorensidebar.html" . }}
                    </div>

                    <!-- Hauptinhalt -->
                    <div class="col-md-9" id="content-listing">
                        {{ template "autorenlist.html" . }}                       
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
</body>
</html>
